<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>TrailSearch</ion-title>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-input class="zipInput" type="number" [(ngModel)]="search" (keyup.enter)="searchForTrail()" placeholder="Zip Code"></ion-input>
    <ion-button (click)="searchForTrail()">SUBMIT</ion-button>
    <p class="errorMessage" *ngIf="invalidZip">You have entered an incorrect Zip Code</p>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="trails | async as Trails">
    <ion-item (click)="goToTrail(aTrail.id)" *ngFor="let aTrail of Trails.trails">
      <ion-img src="{{aTrail.imgSmall | unknownImg}}"></ion-img>
      <!--<p>{{aTrail.imgSmall}}</p>-->
      <div class="trailInfo">
        <h3>{{ aTrail.name }}</h3>
        <p>{{aTrail.summary}}</p>
        <div>
          <p class="star{{ aTrail.stars | starRounding }}"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
