<ion-header>
  <ion-toolbar color="primary">
    <ion-title>TrailSearch</ion-title>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-input class="zipInput" type="number" [(ngModel)]="search" (keyup.enter)="searchForTrail()" placeholder="Zip Code"></ion-input>
    <ion-button (click)="searchForTrail()">SUBMIT</ion-button>
    <p class="errorMessage" *ngIf="invalidZip">You have entered an incorrect Zip Code</p>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="trails | async as Trails">
    <ion-item *ngFor="let aTrail of Trails.trails">
      <ion-img src="{{aTrail.imgSmall}}"></ion-img>
      <div>
        <h3>{{ aTrail.name }}</h3>
      </div>
      <div class="trailInfo">
        <p>{{aTrail.summary}}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
