<ion-header>

  <!-- toolbar -->
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My trails</ion-title>
  </ion-toolbar>

  <!-- tabs -->
  <ion-segment [(ngModel)]='tab'>
    <ion-segment-button value='hiked'>
      <ion-label>Hiked</ion-label>
    </ion-segment-button>
    <ion-segment-button value='interested'>
      <ion-label>Interested</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content padding>

  <!-- pages -->
  <ng-container *ngIf='tab === "hiked"'>
    <ion-card *ngFor='let i of $hiked | async'>
      <ion-card-content>
        <ion-card-title>
          <a [routerLink]='["/trail-details", i.id]'>{{ i.name }}</a>
        </ion-card-title>
        <ion-button color='danger' (click)='removeHiked(i.id)'>Remove</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf='tab === "interested"'>
    <ion-card *ngFor='let i of $interested | async'>
      <ion-card-content>
        <ion-card-title>
          <a [routerLink]='["/trail-details", i.id]'>{{ i.name }}</a>
        </ion-card-title>
        <ion-button color='danger' (click)='removeInterested(i.id)'>Remove</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>
