<ion-header>

  <!-- toolbar -->
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My trails</ion-title>
  </ion-toolbar>

  <!-- tabs -->
  <ion-segment [(ngModel)]='tab'>
    <ion-segment-button value='hiked'>
      <ion-label>Hiked</ion-label>
    </ion-segment-button>
    <ion-segment-button value='interested'>
      <ion-label>Interested</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content padding>

  <!-- pages -->
  <ng-container *ngIf='tab === "hiked"'>
    <ion-card *ngFor='let i of $hiked | async' [routerLink]='["/trail-details", i.id]'>
      <ion-card-content>
        <ion-card-title>{{ i.name }}</ion-card-title>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container *ngIf='tab === "interested"'>
    <ion-card *ngFor='let i of $interested | async' [routerLink]='["/trail-details", i.id]'>
      <ion-card-content>
        <ion-card-title>{{ i.name }}</ion-card-title>
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>
