.star4{
  width: 4.5em;
  height: 1em;
  overflow: hidden;
}
.star3{
  width: 4em;
  height: 1em;
  overflow: hidden;
}
.star2{
  width: 3em;
  height: 1em;
  overflow: hidden;
}
.star1{
  width: 1.5em;
  height: 1em;
  overflow: hidden;
}

.trailInformation{
  display: flex;
  justify-content: space-between;
}

.subTitle{
  text-decoration: underline;
}

#weatherStars{
  display: flex;
  justify-content: space-around;
}

#forcastControls{
  display: flex;
  justify-content: space-around;
}
