<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Trail Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="trailData | async as trails" padding>
  <div class="trailData" *ngFor="let trail of trails.trails">
    <h1>{{trail.name}}</h1>
    <img src="{{trail.imgMedium}}">
    <img src="{{trail.difficulty | difficulty}}">
    <p>Length: {{ trail.length }} Miles</p>
    <p>Ascent: {{trail.ascent}} Ft.</p>
    <p>{{trail.summary}}</p>
    <div>
      <h3 class="star{{trail.stars | starRounding}}"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h3>
      {{trail.stars}} Stars
    </div>
  </div>
</ion-content>
