.star4{
  width: 4.5em;
  height: 1em;
  overflow: hidden;
}
.star3{
  width: 4em;
  height: 1em;
  overflow: hidden;
}
.star2{
  width: 3em;
  height: 1em;
  overflow: hidden;
}
.star1{
  width: 1.5em;
  height: 1em;
  overflow: hidden;
}

.trailInformation{
  display: flex;
  justify-content: space-between;
}

.subTitle{
  text-decoration: underline;
}

#weatherStars{
  display: flex;
  justify-content: space-around;
}

#forcastControls{
  display: flex;
  justify-content: space-around;
}

#trailTop{
  display: flex;
  justify-content: space-between;
}

.userRating{
  border: 3px black solid;
  border-radius: 25%;
  padding: .25em;
}
.userRating .fa-hiking{
  margin: .1em;
}
.activeRating{
  color: #10dc60;
}
